.nav {
  display: none;

  &__list {
    display: flex;
    justify-content: center;
    justify-content: space-between; 
    
    list-style: none;
    color: #fff;
  }

  &__item {
    position: relative;
    margin-left: 48px;

    text-decoration: none; 
    color: #fff;


    &::after {
      position: absolute;
      content: "";

      height: 2px;
      border-radius: 4px;
      background-color: #fff;

      top: 100%;
      left: 0;
      right: 0;

      transition: 0.3s;
      opacity: 0;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;
  }

  @include onDesctop {
    display: block;
  }
}
